

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- <button class="navbar-toggler" type="button" 
    data-toggle="collapse" 
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="" id="navbarNav">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="customer">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none" routerLink="add" *ngIf="isLogginIn()">Add Customer</a>
        </li>
        <li class="nav-item" *ngIf="isLogginIn()"> 
          <button class="btn btn-outline-secondary m-0" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!isLogginIn()">
          <a class="nav-link text-decoration-none " routerLink="login">{{ isLogginIn()? "Logout": "Login"}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>