
<div class="container">
    <div class="row">
        <div class="col-md-6" *ngIf="users.length<=0"><p class="card-text">No customer</p> </div>
        <div class="col-md-6" *ngFor="let user of users" >
            <div class="card mb-3" routerLink="/customer/{{user.id}}">
                <div class="card-body">
                    <h5 class="card-title">{{user.name | uppercase}}</h5>
                    <p class="card-text">{{user.phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>